<div class="container">
  <h1>Angular5 - Features</h1>
  <br>
  <span class="badge badge-pill badge-info">form</span>
  <h3>Template-driven form</h3>
  <app-form01></app-form01>
  <br>
  <br>
  <span class="badge badge-pill badge-info">form</span>
  <h3>Reactive form</h3>
  <app-form02></app-form02>
  <br>
  <br>
  <span class="badge badge-pill badge-primary">whitespaces</span>
  <h3>Preserve white spaces : false</h3>
  <app-preserve-whitespaces-false></app-preserve-whitespaces-false>
  <br>
  <br>
  <br>
  <span class="badge badge-pill badge-primary">whitespaces</span>
  <h3>Preserve white spaces : true</h3>
  <app-preserve-whitespaces-true></app-preserve-whitespaces-true>
  <br>
  <br>
  <span class="badge badge-pill badge-warning">http</span>
  <h3>HttpClient</h3>
  <app-http></app-http>
</div>